.content-area .manage-product-card{
    margin-left:10px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #cfc9c9;
  }
  
  
  .manage-product-card .manage-product-content img{
    border-radius: 10px;
  }
  
  .manage-product-content-details h5{
    margin-top:5px;
    color: #000;
  }
  .manage-product-content-details p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    color: grey;
  }
  
  .manage-product-status-details{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:20px;
    align-items: center;
  }
  .manage-product-status-details .form-switch input{
    margin-top:6px;
  }
  .manage-product-status-details .form-switch svg{
    margin-left:20px;
  }
  .manage-product-status-details button{
    color:rgb(53, 52, 52);
    font-size:13px;
    font-weight: bold;
  } 