.education-post .card{
    border-radius:20px;
    background-color: aliceblue;
    border:1px solid aliceblue;
}
.education-post .card .card-body img{
    border-radius:10px;
    max-height:300px;
    width:100%;
}
.education-post .card .card-body p{
    font-size:15px;
    margin-bottom: 5px;
}
.education-post .card .card-body .header{
  font-size:16px;
  font-weight: 600;
  margin-bottom:5px;
}

.education-post .card .card-body .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.education-post .card .card-body .footer .posted p{
    font-size:14px;
    font-weight: 500;

}

.education-post .card .card-body .footer .delete span{
    color:rgb(230, 77, 6);
    font-size:14px;
    margin-left:20px;
    font-weight: 600;
}

@media only screen and (max-width: 768px){
    .education-post .card .card-body .header{
        margin-top:20px
    }
}

@media only screen and (min-width: 769px){
    .education-post .card .card-body img{
        border-radius:10px;
        height:120px;
    }
}