body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**************************** My Css ***********************/



.page-header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}
.common-button{
  background-color: rgb(230, 77, 6);
  color:white;
  border-radius:0px;
  padding-left:20px;
  padding-right: 20px;
}
.page-header button:hover{
  color:white;
  box-shadow: 0px 5px 10px rgb(212, 206, 206);
}

/********************* Sidebar css Start***************************/

.sidebar-menu {
  background-color: rgb(50, 50, 77);
  width:300px;
  height:100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.sidebar-menu nav{
  padding:15px;
}
.sidebar-menu nav ul{
  padding-left: 0px;
  list-style: none;
}

.sidebar-menu nav ul li:nth-child(1){
  color:#ffffff;
  text-align: center;
  margin-bottom:25px;
}

.sidebar-menu nav ul li:nth-child(n + 2){
  padding:5px;
  transition: 0.5s;
}

.sidebar-menu nav ul li:nth-child(n + 2):hover{
  background-color: rgb(55, 55, 90);
  padding:10px;
  width:100%;
  border-radius: 5px;
}

.sidebar-menu nav ul li a{ 
  text-decoration:none;
  color:white;
  font-size:16px;
}

.sidebar-active{
  margin-left:0px;
  transition:0.5s;
}
.sidebar-deactive{
  margin-left:-300px;
  transition:0.5s;
}

.link-active{
  background-color: rgb(81, 81, 131);
  border-radius: 5px;
}
/********************* Sidebar css End **************************/


/***************** Media Queries Start **********************/

@media only screen and (max-width: 990px){
  #viewDealerDetails .dealer-modal-products .card .card-body img{
    max-width:430px;
  }
}
@media only screen and (min-width:992px){
  .overview-number-cards .card{
    margin-left:0px;
    margin-right:0px;
  }
  .overview-last-new-added-user-card{
    margin-left:0px;
    margin-right:0px;
  }
  .overview-last-new-added-user-card .card-content .description h6{
    font-size:15px;
  }
}



@media only screen and (max-width:1199px){
  .sidebar-active{
    margin-left:-300px;
    transition:0.5s;
  }
  .sidebar-deactive{
    margin-left:0px;
    transition:0.5s;
  }

  #viewDealerDetails .dealer-modal-info-area .location iframe{
    margin-top:40px;
  }
  
}

/***************** Media Queries End **********************/


::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-button {
  background: rgb(255, 255, 255)
}
::-webkit-scrollbar-track-piece {
  background: rgb(235, 234, 234)
}
::-webkit-scrollbar-thumb {
  background-color: rgb(189, 188, 188)
}

/******************************** My Css End ****************************/