body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* My Css */

.main-wrapper{
  display: flex;
  flex-direction: row;
  height:100%;
  width:100%;
}

.page-header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}
.common-button{
  background-color: rgb(230, 77, 6);
  color:white;
  border-radius:0px;
  padding-left:20px;
  padding-right: 20px;
}
.page-header button:hover{
  color:white;
  box-shadow: 0px 5px 10px rgb(212, 206, 206);
}

/************************ Sidebar ******************************/

.sidebar-menu {
  background-color: rgb(50, 50, 77);
  width:300px;
  height:100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.sidebar-menu nav{
  padding:15px;
}
.sidebar-menu nav ul{
  padding-left: 0px;
  list-style: none;
}

.sidebar-menu nav ul li:nth-child(1){
  color:#ffffff;
  text-align: center;
  margin-bottom:25px;
}

.sidebar-menu nav ul li:nth-child(n + 2){
  padding:5px;
  transition: 0.5s;
}

.sidebar-menu nav ul li:nth-child(n + 2):hover{
  background-color: rgb(55, 55, 90);
  padding:10px;
  width:100%;
  border-radius: 5px;
}

.sidebar-menu nav ul li a{ 
  text-decoration:none;
  color:white;
  font-size:16px;
}

.sidebar-active{
  margin-left:0px;
  transition:0.5s;
}
.sidebar-deactive{
  margin-left:-300px;
  transition:0.5s;
}

/************************ End Sidebar ******************************/

/*********************** Contetn Area *******************************/
.content-area{
  width:100%;
  height:100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.content-area .top-nav{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  box-shadow: 0px 5px 10px rgb(235, 235, 235);
}

.content-area .top-nav .toggle-menu-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-area .top-nav .toggle-menu-btn svg{
  font-size:25px;
}

.content-area .top-nav .toggle-menu-btn h6{
  font-size:25px;
  margin-bottom:0px;
  margin-left:20px
}

.content-area .top-nav .admin-profile{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.content-area .top-nav .admin-profile img{
  max-height:40px;
  max-width:40px;
  border-radius:50%;
  margin-right:10px;
}

.content-area .top-nav .admin-profile h6{
  margin-bottom: 0px;
}
.content-area .content{
  padding:20px;
}


.link-active{
  background-color: rgb(81, 81, 131);
  border-radius: 5px;
}
.top-nav-dropdown-active{
  display: block;
}
.top-nav-dropdown-deactive{
  display: none;
}





/****************** Dashboard Css**************************/
.overview-number-cards .card{
  margin-left:30px;
  margin-right:30px;
}
.overview-number-cards .card-body{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.overview-number-cards .card-icon{
  background-color: rgb(230, 77, 6);
  border-radius:50%;
  height:80px;
  width:80px;
  margin-left:30px;
}
.overview-number-cards .card-icon svg{
  color:white;
  font-size:40px;
  margin:20px;
}

.overview-number-cards .card-content{
  margin-right:30px;
}

.overview-number-cards .card-content p{
  font-size:25px;
  font-weight: 500;
  color:rgb(87, 85, 85);
  margin-left:5px;
  margin-bottom:0px;
}
.overview-number-cards .card-content h3{
  font-size:40px;
  font-weight: 500;
}

.overview-last-new-added-user-card{
  margin-left:30px;
  margin-right:30px;
}

.overview-last-new-added-user-card .header{
  text-align: center;
  font-size:20px;
  font-weight: 500;
  color:rgb(87, 85, 85);
}
.overview-last-new-added-user-card .card-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border:1px solid rgb(228, 227, 227);
  border-radius: 5px;
  padding:5px 10px;
  align-items: center;
}
.overview-last-new-added-user-card .card-content .image-area img{
  height:60px;
  border-radius: 5px;
}
.overview-last-new-added-user-card .card-content .image-area p{
  background-color: rgb(230, 77, 6);
  color:white;
  font-size:10px;
  font-weight: bold;
  padding:5px;
  text-align: center;
  border-radius:50px;
  position: relative;
  z-index:10;
  margin-top:-10px;
  margin-left:10px;
  margin-bottom: 0px;
  line-height: 10px;
  width:70%
}
.overview-last-new-added-user-card .card-content .description{
  margin-left:10px;
}
.overview-last-new-added-user-card .card-content .description h6{
  margin-bottom:0px;
}
.overview-last-new-added-user-card .card-content .description p{
  margin-bottom:0px;
}

.overview-last-new-added-user-card .card-content .description p, .email, .phone{
  font-size:13px;
  font-weight: 400;
  color:rgb(105, 104, 104);
}

/********************* Manage User ************************/
  
  .manage-user-div .card{
    margin-left:10px;
  }
  .manage-user-div .card:hover{
    box-shadow: 0px 0px 10px rgb(218, 218, 218);
    transition: 0.5s;
    transform: scale(1.01,1.01);
  }
  .manage-user-div .user-info-div{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .manage-user-div .user-info-div .info img{
    max-width:100px;
    height:auto;
    border-radius: 10px;
  }
  .manage-user-div .user-info-div .info .rating{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: -10px;
    max-width:60px;
    margin-left: 22px;
    background-color: #e54d07;
    font-size: 13px;
    color: white;
    padding-left: 5px;
    padding-right:5px;
    padding-top:5px;
    padding-top:5px;
    font-weight: 600;
    border-radius: 30px;
    
  }

  .manage-user-div .user-info-div .info-delete-btn svg{
    font-size: 20px;
    color:red;
    cursor: pointer;
  }

  .manage-user-div .user-info-div .info .user-name p{
    margin-top:5px;
    margin-bottom:0px;
    font-size:18px;
    font-weight:600;
  }
  .manage-user-div .user-info-div .info .user-contact p{
    font-size: 13px;
    margin-bottom:4px;
    font-weight: 600;
    color:#5c5c5c;
  }

  .manage-user-div .user-info-div .info .user-contact p svg{
    color:#8d8c8c;
  }
  .manage-user-div .user-info-div .info .user-referral-code{
    margin-top:10px;
    background-color:rgb(222, 237, 250);
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:50px;
    max-width:150px;
  }
  .manage-user-div .user-info-div .info .user-referral-code p{
    font-size:12px;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .manage-user-div .user-info-footer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left:10px;
    margin-top:10px
  }
  .manage-user-div .user-info-footer .view-user-full-info p{
    font-size:15px;
    font-weight: 600;
    margin-bottom: 0px;
    color:rgb(49, 49, 49);
    cursor: pointer;
  }
  
/********************* End Manage User ************************/

/*********************** Manage Dealer****************************/

#viewDealerDetails .dealer-modal-info-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#viewDealerDetails .dealer-modal-info-area .logo-and-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#viewDealerDetails .dealer-modal-info-area .logo-and-info .logo img{
  max-height:100px;
  border-radius:10px;
}

#viewDealerDetails .dealer-modal-info-area .logo-and-info .logo .rating{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-top: -10px;
  max-width:60px;
  margin-left: 22px;
  background-color: #e54d07;
  font-size: 13px;
  color: white;
  padding-left: 5px;
  padding-right:5px;
  padding-top:5px;
  padding-top:5px;
  font-weight: 600;
  border-radius: 30px;
  
}




#viewDealerDetails .dealer-modal-info-area .logo-and-info .info{
  max-height:100px;
  border-radius:10px;
  margin-left:10px;
}

#viewDealerDetails .dealer-modal-info-area .logo-and-info .info .user-name p{

  margin-bottom:0px;
  font-size:18px;
  font-weight:600;
}
#viewDealerDetails .dealer-modal-info-area .logo-and-info .info .user-contact p{
  font-size: 13px;
  margin-bottom:4px;
  font-weight: 600;
  color:#5c5c5c;
}

#viewDealerDetails .dealer-modal-info-area .logo-and-info .info .user-contact p svg{
  color:#8d8c8c;
}
#viewDealerDetails .dealer-modal-info-area .logo-and-info .info .user-referral-code{
  margin-top:10px;
  background-color:rgb(222, 237, 250);
  padding-left:10px;
  padding-right:10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:50px;
  max-width:150px;
}
#viewDealerDetails .dealer-modal-info-area .logo-and-info .info .user-referral-code p{
  font-size:12px;
  font-weight: 600;
  margin-bottom: 0px;
}
#viewDealerDetails .dealer-modal-info-area .location{
  padding:10px;
}

#viewDealerDetails .dealer-modal-info-area .location iframe{
  margin-top:20px;
  border:1px solid rgb(206, 206, 206);
  border-radius: 10px;
}

#viewDealerDetails .dealer-modal-products .card .card-body img{
  max-width:200px;
  border-radius:10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#viewDealerDetails .dealer-modal-products .card .card-body h6{
  font-weight: bold;
}


/*********************** End Manage Dealer****************************/



/********************* Manage Event ***********************/
.event-list{
  display: flex;
  flex-direction: row;
}
.event-list img{
  max-height:120px;
  border-radius:10px
}
.event-list .event-description{
  margin-left:20px;
}
.event-list .event-description .date-status-div{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-list .event-description .date-status-div .date{
  display:flex;
  flex-direction: row;
}
.event-list .event-description .date-status-div .date span:nth-child(1){
 font-size:30px;
 font-weight:bold;
}
.event-list .event-description .date-status-div .date span:nth-child(2){
  margin-left:10px;
  margin-top:5px;
}
.event-list .event-description .date-status-div .date span:nth-child(2) .month{
  font-size:13px;
  margin-bottom:0px;
}
.event-list .event-description .date-status-div .date span:nth-child(2) .day{
  font-size:13px;
  margin-bottom:0px;
}

.event-list .event-description .date-status-div .status p{
  font-size:15px;
  margin-bottom:0px;
  color:rgb(87, 85, 85);
  font-weight: 500;
}
.event-list .event-description .date-status-div .status p:nth-child(2){
  font-size:15px;
  margin-bottom:0px;
  color:rgb(12, 12, 12);
  font-weight: 500;
}
.event-list .event-description p{
  font-size:15px;
  margin-bottom:0px;
}
.event-list .event-description .posted-location-delete-event-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-list .event-description .posted-location-delete-event-div .posted-date-loc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event-list .event-description .posted-location-delete-event-div .posted-date-loc p{
  font-size:15px;
  color:#626161;
}
.event-list .event-description .posted-location-delete-event-div .posted-date-loc p:nth-child(2){
  margin-left: 20px;
}
.event-list .event-description .posted-location-delete-event-div .delete-event span{
  margin-left: 20px;
}
.event-list .event-description .posted-location-delete-event-div .delete-event span:nth-child(2){
  color:red;
}
.event-list .event-description .posted-location-delete-event-div .delete-event span:nth-child(3){
  color:red;
}


/********************* End Manage Event ***********************/


/***************** Media Queries Start **********************/

@media only screen and (max-width: 990px){
  #viewDealerDetails .dealer-modal-products .card .card-body img{
    max-width:430px;
  }
}
@media only screen and (min-width:992px){
  .overview-number-cards .card{
    margin-left:0px;
    margin-right:0px;
  }
  .overview-last-new-added-user-card{
    margin-left:0px;
    margin-right:0px;
  }
  .overview-last-new-added-user-card .card-content .description h6{
    font-size:15px;
  }
}



@media only screen and (max-width:1199px){
  .sidebar-active{
    margin-left:-300px;
    transition:0.5s;
  }
  .sidebar-deactive{
    margin-left:0px;
    transition:0.5s;
  }

  #viewDealerDetails .dealer-modal-info-area .location iframe{
    margin-top:40px;
  }
  
}




/* .breadcrumb{
  font-size:30px;
  font-weight:400;
  color: #000;
  margin-left:30px;
}

.content-area .dashboard-card{
  margin-left:30px;
  margin-right:30px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #cfc9c9;
}
.content-area .dashboard-card .card-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-icon-area{
  background-color: rgb(230, 77, 6);
  border-radius: 50%;
  padding: 15px 15px;
  height: 60px;
  width: 60px;
  margin-right:5px;
}
.card-icon-area svg{
  font-size: 30px;
  color: white;
}
.card-content-area {
  margin-left:5px
}
.card-content-area p{
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 500;
  color: #626161;
  margin-left:5px;
}
.card-content-area h1{
  margin-bottom: 0px;
}

.list-user-card{
  margin-left:30px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #cfc9c9;
  padding-left: 10px;
  padding-right: 10px;
}
.list-user-card,.list-partner-card,.list-dealer-card .card-title{
  color:#646464;
}

.list-dealer-card{
  border-radius: 10px;
  box-shadow: 0px 1px 5px #cfc9c9;
  padding-left: 10px;
  padding-right: 10px;
}

.list-partner-card{
  margin-right:30px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #cfc9c9;
  padding-left: 10px;
  padding-right: 10px;
}

.list-user-card .user-info-area{
  margin-bottom: 28px;
}

.user-info-area{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(233, 232, 232);
  border-radius: 10px;
  padding: 10px;
  margin-top:20px;
}

.user-info-area .user-pic img{
  width:70px;
  border-radius: 10px;
}

.user-info-area .user-pic{
  margin-right: 5px;
}
.user-info-area .user-pic .user-rating{
  background-color: #e54d07;
  font-size: 10px;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-radius: 16%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -10px;
  width: 50%;
  margin-left: 18px;
}
.user-info-area .user-details{
  margin-left: 5px;
}
.user-info-area .user-details h5{
  margin-bottom: 0px;
  color: #000;
}
.user-info-area .user-details p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: grey;
}

.manage-user-breadcrumb{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 2rem;
}
.manage-user-breadcrumb p{
  font-size:30px;
  margin-bottom: 0px;
  
}
.manage-user-breadcrumb .custom-btn{
  background-color: rgb(230, 77, 6);
  color:white;
  padding-left:30px;
  padding-right:30px;
  border-radius: 0px;
  font-weight: 500;
}

.content-area .manage-user-card{
  margin-left:30px;
  margin-right:30px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #cfc9c9;
}

.manage-user-card .manage-user-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.manage-user-card .manage-user-content img{
  width: 80px;
  border-radius: 10px;
}

.manage-user-content-details h5{
  margin-bottom: 0px;
  margin-top:5px;
  color: #000;
}
.manage-user-content-details p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: grey;
}
.manage-user-content-details .referal-code{
  color:black;
  font-weight: 500;
  background-color: aliceblue;
  width: 80%;
  margin-top:10px;
  text-align: center;
  border-radius:10px;
}

.manage-user-status-details{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:20px;
  align-items: center;
}
.manage-user-status-details .form-switch{
  margin-top:3px;
}
.manage-user-status-details button{
  color:black;
  font-size:12px;
  font-weight: bold;
}

.manage-user-content-details .user-rating{
  background-color: #e54d07;
  font-size: 10px;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-radius: 16%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -25px;
  width: 20%;
  margin-left: 85px;
}

.image-uploader{
  border: 2px dashed #d5cfcf;
  height: 100px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-uploader svg{
  color:rgb(172, 169, 169);
}
*/

.content-area .manage-product-card{
  margin-left:10px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #cfc9c9;
}


.manage-product-card .manage-product-content img{
  border-radius: 10px;
}

.manage-product-content-details h5{
  margin-top:5px;
  color: #000;
}
.manage-product-content-details p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: grey;
}

.manage-product-status-details{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:20px;
  align-items: center;
}
.manage-product-status-details .form-switch input{
  margin-top:6px;
}
.manage-product-status-details .form-switch svg{
  margin-left:20px;
}
.manage-product-status-details button{
  color:rgb(53, 52, 52);
  font-size:13px;
  font-weight: bold;
} 


/*********************** Inquiry Form ********************************/

.inquiry-page-header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.inquiry-page-header .toggle-inquiry-tab{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.inquiry-page-header .toggle-inquiry-tab p{
 margin-left:30px;
 margin-top: 10px;
 background-color: #ffffff;
 color:rgb(0, 0, 0);
 padding-left:20px;
 padding-right:20px;
 padding-top:5px;
 padding-bottom:5px;
 border-radius:50px;
 border:1px solid rgb(199, 199, 199);
 font-weight: 500;
 box-shadow: 0px 5px 10px rgb(245, 244, 244);
 cursor: pointer;
}
.inquiry-page-header .toggle-inquiry-tab .inquiry-tab-active{
  background-color: #e54d07;
  color:rgb(255, 255, 255);
  box-shadow: 0px 5px 10px rgb(214, 214, 214);
}


.inquiries-list .inquiry-partner .inquiry-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.inquiries-list .inquiry-partner .inquiry-info p{
  font-size:14px;
  color:rgb(94, 92, 92);
  margin-right:20px;
}
.inquiries-list .inquiry-partner .inquiry-info p span{
  margin-right:10px;
}
.inquiries-list .inquiry-partner .inquiry-description{
  font-size:14px;
}

.inquiries-list .inquiry-partner .message-back{
  font-size:14px;
  color:#e54d07;
  font-weight:600;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

hr{
  color:rgb(206, 206, 206);
}

.inquiries-list .inquiry-dealer .inquiry-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.inquiries-list .inquiry-dealer .inquiry-info p{
  font-size:14px;
  color:rgb(94, 92, 92);
  margin-right:20px;
}
.inquiries-list .inquiry-dealer .inquiry-info p span{
  margin-right:10px;
}
.inquiries-list .inquiry-dealer .inquiry-description{
  font-size:14px;
}

.inquiries-list .inquiry-dealer .message-back{
  font-size:14px;
  color:#e54d07;
  font-weight:600;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.inquiries-list {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-left:20px;
  padding-right:20px;
}
.inquiry-message{
  background-color: #d6d5d5;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  padding-bottom:30px;
  max-width: 450px;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius:5px;
  box-shadow: 0px 5px 10px rgb(230, 230, 230);
}
.inquiry-message .user, .admin p{
  font-size:13px;
}

/*********************** Feedback ********************************/

.feedback-list .user{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.feedback-list .user .info span{
    font-size: 14px;
    margin-right:20px;
    color:rgb(102, 102, 102);
}
.feedback-list .user .info span svg{
  margin-right:5px;
}

.feedback-list .user .reported-by{
  color:#e54d07;
  font-size: 15px;
  font-weight: 600;
}

.feedback-list .feedback-content p{
  font-size: 14px;
  margin-top:20px;
}

.feedback-list .feedback-delete p{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  margin-top:20px;
  color:#e54d07;
  font-weight: 600;
}

.discount-div .card{
  border:2px dashed rgb(218, 218, 218);
  border-radius:20px;
  padding:5px;
}

.discount-div p{
  font-size: 14px;
}
.discount-div .code-and-status{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.discount-div .code-and-status h6{
  background-color:rgb(222, 237, 250);
  padding-left:10px;
  padding-right:10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:50px;
  max-width:150px;
  margin-right:20px
}

.discount-div .code-and-status svg{
  color:red;
  margin-left:10px;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-button {
  background: rgb(255, 255, 255)
}
::-webkit-scrollbar-track-piece {
  background: rgb(235, 234, 234)
}
::-webkit-scrollbar-thumb {
  background-color: rgb(189, 188, 188)
}